[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
schema = "*"
sh = "*"
requests = "*"
sqlparse = "*"
crayons = "*"

[dev-packages]

[requires]
python_version = "3.7"
